.Button {
    margin: auto;
    margin-top: 10%;

    width: 45%;

    border: 0;
    border-radius: 100px;
    font-size: calc(1vh + 1vw);

    border: 2px black solid;
    cursor: pointer;

}

.Button:hover {
    transition: all 0.25s;
    background-color: aliceblue;
}

.Button:active {
    transform: translateY(2px);
}

.addObstacle {
    background-color: green;
}

.delObstacle {
    background-color: #7d0000;
}

input[type=range].rangeBar {
    width: 100%;
    margin: 12.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range].rangeBar:focus {
    outline: none;
}

input[type=range].rangeBar::-webkit-slider-runnable-track {
    background: #000000;
    border: 1px solid #010101;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type=range].rangeBar::-webkit-slider-thumb {
    margin-top: -13.5px;
    width: 21px;
    height: 35px;
    background: #4c4c4c;
    border: 1.6px solid #000000;
    border-radius: 26px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range].rangeBar::-moz-range-track {
    background: #000000;
    border: 1px solid #010101;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type=range].rangeBar::-moz-range-thumb {
    width: 21px;
    height: 35px;
    background: #4c4c4c;
    border: 1.6px solid #000000;
    border-radius: 26px;
    cursor: pointer;
}

input[type=range].rangeBar::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 13.5px 0;
    color: transparent;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type=range].rangeBar::-ms-fill-lower {
    background: #000000;
    border: 1px solid #010101;
    border-radius: 50px;
}

input[type=range].rangeBar::-ms-fill-upper {
    background: #000000;
    border: 1px solid #010101;
    border-radius: 50px;
}

input[type=range].rangeBar::-ms-thumb {
    width: 21px;
    height: 35px;
    background: #4c4c4c;
    border: 1.6px solid #000000;
    border-radius: 26px;
    cursor: pointer;
}

input[type=range].rangeBar:focus::-ms-fill-lower {
    background: #000000;
}

input[type=range].rangeBar:focus::-ms-fill-upper {
    background: #000000;
}

.rangediv {
    margin: auto;
    margin-top: 5%;

    width: 80%;
    height: 20%;

    border: 2px black solid;
    border-radius: 15px;

    background-color: #1d1d1d;

    display: flex;
    justify-content: center;
}

.inviteInputContainer {
    margin: auto;
    margin-top: 5%;

    width: 80%;
    height: 45%;

    background-color: rgb(0, 0, 0, 0.30);
    border: 2px black solid;
    border-radius: 5%;

    overflow: hidden;
}

.clientConnectedList {
    width: 100%;
    height: 65%;

    background-color: rgb(0, 0, 0, 0.15);

    overflow: hidden;
    overflow-y: scroll;
}

.clientConnected {
    width: 100%;
    height: 20%;

    background-color: rgb(0, 0, 0, 0.20);

    display: flex;

    align-items: center;
    justify-content: center;
}

.clientConnected:hover {
    transition: 0.5s;

    background-color: black;
}

.noClientConnected {
    margin: auto;
    margin-top: 2%;

    width: 70%;
    height: 80%;

    border-radius: 25%;

    border: 10px rgb(0, 0, 0, 0.7) dashed;

    display: flex;
    flex-direction: column;
}

.inviteBar {

    width: 96%;

    font-size: calc(1vh + 1vw);

    border: 0;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    background-color: rgb(0, 0, 0, 0.15);

    color: white;

    padding: 2%;
}

.invite_button {
    margin: 10%;
    margin-top: 2.5%;

    width: 80%;
    height: 15%;

    border: 2px black solid;
    
    cursor: pointer;

}

input:focus {
    outline: none !important;
}