.leaderboard {
	margin: 1vh 1vw;
	table {
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-collapse: collapse;
		border-spacing: 0;
		table-layout: fixed;
		width: 100%;
	
		thead {
			background-color: rgba(255,255,255,0.3)
		}
	
		th {
			text-align: left;
			padding: 10px 6px;
		}
	
		td {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			padding: 6px;
		}
	}
	
	.tabContent {
		height: 300px;
		overflow-x:auto;
		margin-top: 0px;
		img {
			vertical-align: middle;
			--avatar-size: 3vh;
			height: var(--avatar-size);
			width: var(--avatar-size);
			// border: 4px solid green;
			// padding: 6px;
			border-radius: 50%;
			position: relative;
			object-fit: cover;
		}

		.element {
			cursor: pointer;

			transition: all 1s;
		}
		.element:hover {
			background-color: #242d40;
		}
	}

	::-webkit-scrollbar {
		width: 6px;
	} 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	} 
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	}
}
