.login-2fa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin: 127px 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid;
    max-width: 484px;
    padding-bottom: 11px;
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
    }

    input {
        font-family: 'Roboto', sans-serif;
        border-color: rgba($color: #2e384e, $alpha: .8)!important;
        color: #2e384e;
        --input-size: 40px;
        width: var(--input-size)!important;
        height: var(--input-size)!important;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #cc0000;
    }

    @media screen and (min-width: 425px) {
        padding-bottom: 15px;
        h1 {
            font-size: 28px;
        }
        input {
            --input-size: 49px;
        }
    }
    
    @media screen and (min-width: 504px) {
        margin: 127px auto;
        padding-bottom: 28px;
    }
    
    @media screen and (min-width: 768px) {
        h1 {
            font-size: 34px;
        }
        input {
            --input-size: 53px;
        }
        
    }
}