.container {
   width: 100%;
   height: 100%;

   display: flex;
}

.loginButton {
    margin: auto;
    margin-top: 15%;

    width: 30%;
    height: 45%;

    border: 0;
}

.i42-logo {
    margin-right: 1%;
    width: 100%;
    filter: brightness(1) invert(1);
}