@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

.login {
    background: white;
    min-height: 100vh;
    .container {
        padding-top: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: "Hind", sans-serif;
        button {
            color: #2e384e;
            display: flex;
            align-items: center;
            border-color: #2e384e;
            background: unset;
            border-width: 3px;
            margin-top: 49px;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: 700;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s ease-out;
            &:hover {
                color: #FFFF;
                background: #2e384e;
            }
        }
        .logo_transcendence {
            width: 290px;
            filter: invert(21%) sepia(30%) saturate(590%) hue-rotate(183deg) brightness(91%) contrast(94%);
        }
    }


    /* TO REMOVE */
    .dev {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: green;
        bottom: 10px;
    }
    @media screen and (min-width: 425px) {
        .container{
            button{
                font-size: 19px;
                letter-spacing: 1px;

            }
            .logo_transcendence {
                width: 379px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .container{
            button{
                font-size: 26px;
                letter-spacing: 2px;

            }
            .logo_transcendence {
                width: 504px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .container{
            button{
                font-size: 31px;

            }
            .logo_transcendence {
                width: 669px;
            }
        }
    }
}
