.nav {
    margin: 8px;
    background-color: #3A3935;

    position: sticky;
    display: flex;
    align-items: center;
    height: 5vh;
}

.littleDiv, .bigDiv {
    display: flex;
    justify-content: center;
}

.littleDiv {
    width: 10vw;
}

.bigDiv {
    width: 80vw;
}

.bi{
    transition: all 0.5s;
    color: white;
}

.bi-bell{
    font-size: calc(1.3vh + 1.3vw);
}

.bi-house{
    font-size: calc(1.5vh + 1.5vw);
}

.bi-box-arrow-left {
    font-size: calc(1.5vh + 1.5vw);
}

.bi-play {
    font-size: calc(2vh + 2vw);

}

.bi:hover{
	transition: all 0.5s;
	color: #901644;
}