@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

nav {
	background: #FDFEFE;
	position: fixed;
	top: 0;
	z-index: 2;
	height: 50px;
	min-width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2e384e;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	button {
		all: unset;
	}

	a {
		all: unset;
		margin-left: 10px;
		cursor: pointer;
		font-family: 'Titillium Web', cursive;
		font-size: 16px;
	}

	svg, div {
		height: 31px;
	}

	.right {
		display: flex;
		gap: 5px;
	}

	.avatar {
		--avatar-size: 31px;
		height: var(--avatar-size);
		width: var(--avatar-size);
		border-radius: 50%;
		position: relative;
		object-fit: cover;
	}

	.profile {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-right: 10px;
		text-transform: uppercase;
		span {
			display: none;
			font-family: 'Roboto';
			font-weight: 400;
		}
	}
	@media screen and (min-width: 425px) {
		a {
			font-size: 20px;
		}
		.profile {
			gap: 2px;
			span {
				font-size: 12px;
				display: block;
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		height: 83px;
		a {
			font-size: 37px;
		}
		.right {
			gap: 10px;
		}
		svg, div {
			height: 43px;
		}
		.profile {
			gap: 5px;
			.avatar {
				--avatar-size: 40px;
				height: var(--avatar-size);
				width: var(--avatar-size);
			}
			span {
				font-size: 16px;
			}
		}
	}
	
	@media screen and (min-width: 1024px) {
		height: 85px;
		a {
			font-size: 44px;
			letter-spacing: 2px;
		}
		.right {
			gap: 12px;
		}
		svg, div {
			height: 48px;
		}
		.avatar {
			--avatar-size: 43px;
			height: var(--avatar-size);
			width: var(--avatar-size);
		}
		.profile {
			span {
				font-size: 18px;
			}
		}
	}

	@media screen and (min-width: 1440px) {
		height: 95px;
		a {
			font-size: 47px;
			letter-spacing: 2px;
		}
		.right {
			gap: 20px;
		}
		svg, div {
			height: 56px;
		}
		.avatar {
			--avatar-size: 56px;
			height: var(--avatar-size);
			width: var(--avatar-size);
		}
		.profile {
			span {
				font-size: 20px;
			}
		}
	}
}

