.create-map {
	margin-top: 107px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	.canvas {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border: 1px solid;
		canvas {
			width: 100%;
		}
	}
	
	.edit{
		border: 1px solid;
		border-top: 0;
		padding: 12px 0;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		width: 100%;
		background: #FFFF;
		display: flex;
		flex-direction: column;
		align-items: center;

		.buttons {
			display: flex;
			justify-content: center;
			gap: 28px;
			button {
				color: #2e384e;
				border: solid;
				text-align: center;
				border-color: #2e384e;
				background: unset;
				border-width: 1.5px;
				font-family: "Roboto", sans-serif;
				font-size: 15px;
				font-weight: 700;
				cursor: pointer;
				text-transform: uppercase;
				transition: all 0.3s ease-out;
				&:hover {
					color: #FFFF;
					background: #2e384e;
				}
				&:nth-child(2) {
					background: #2e384e;
					color: #FFFF;
					&:hover {
						color: #2e384e;
						background: #FFFF;
					}
				}
			}
		}

		.MuiFormControl-root {
			svg {
				color: #2e384e;
			}
		}
		.MuiFormLabel-root {
			color: rgba($color: #2e384e, $alpha: .3);
		}
		.MuiAutocomplete-inputRoot {
			color: white;
			width: 168px;
			.MuiOutlinedInput-notchedOutline {
				border-color: rgba($color: #2e384e, $alpha: .3);
				&:hover {
					border-color: #2e384e;
				}
				&.Mui-focused {
					border-color: #2e384e;
				}
			}
		}
		.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
			color: #2e384e;
		}

		.invite-friend {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-top: 15px;
			input {
				color: #2e384e;
			}
			button.play {
				color: #2e384e;
				border: solid;
				text-align: center;
				border-color: #2e384e;
				background: unset;
				border-width: 2px;
				font-family: "Roboto", sans-serif;
				font-size: 15px;
				letter-spacing: 1px;
				font-weight: 700;
				cursor: pointer;
				text-transform: uppercase;
				transition: all 0.3s ease-out;
				&:hover {
					color: #FFFF;
					background: #2e384e;
				}
				&:disabled {
					opacity: .5;
					pointer-events: none;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		.edit {
			padding: 23px 0;
			.buttons {
				gap: 69px;
				button {
					letter-spacing: 1px;
					border-width: 3px;
					font-size: 25px;
				}
			}
			.invite-friend {
				margin-top: 26px;
				gap: 21px;
				button.play {
					border-width: 3px;
					font-size: 22px;
				}
			}
		}
	}

	@media screen and (min-width: 800px) {
		.edit {
			width: 800px;
		}
	}
}