.pong {
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	margin-top: 8vh;

	.css-zjf1nq-MuiPaper-root, .css-rh92k-MuiPaper-root-MuiMobileStepper-root {
		background: #2f3b52;
		color: #fff;
		.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
			color: #f55951;
		}
		.css-1knaqv7-MuiButtonBase-root-MuiButton-root.Mui-disabled {
			color: rgba($color: #f55951, $alpha: .26);
		}
		
		.css-26w9jf-MuiMobileStepper-dot {
			background: #f55951;
		}
	}

	img {
			height: 255px;
			display: 'block';
			overflow: 'hidden';
			width: '100%';
	}

	button.join-queue {
		color: #2e384e;
		border-color: #2e384e;
		background: unset;
		letter-spacing: 2.5px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #2e384e;
		}
	}

	button.create-map{
		color: #2e4e2e;
		border-color: #2e4e2e;
		background: unset;
		letter-spacing: 2.5px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #2e4e2e;
		}
	}
}

.loadingScreen {

	display: flex;
	align-items: center;
	flex-direction: column;

	.circularProgress {
		margin-top: 30vh;
	}

	span {
		margin-top: 5vh;
		font-size: 25px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
	}

	button.leave-queue {
		color: #4e2e2e;
		border-color: #4e2e2e;
		background: unset;
		letter-spacing: 2.5px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #4e2e2e;
		}
	}



}