:root {
	--bottom: 97%;
	--left: 6.7%;
	--right: 92%;
	--top: 0%;

	--racket-bottom: 87%;
}

.pong {
	max-width: 736px;
	padding: 60px 0 25px 0;
	border: solid;
	background: #FDFEFE;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-width: 1px;
	border-color: #2e384e;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 300px;
	align-items: center;

	.select-map {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		svg {
			cursor: pointer;
			height: 40px;
			width: 40px;
			border: solid 3px #2e384e;
			transition: all .3s ease-out;
			&:hover {
				color: white;
				background: #2e384e;
			}
		}
		button {
			all: unset;
		}
	}

	.join-queue {
		color: #2e384e;
		border-color: #2e384e;
		background: unset;
		letter-spacing: 1px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #2e384e;
		}
	}

	.create-map {
		color: #2e4e2f;
		border-color: #2e4e2f;
		background: unset;
		letter-spacing: 1px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #2e4e2f;
		}
	}
}



.loadingScreen {

	display: flex;
	align-items: center;
	flex-direction: column;

	.circularProgress {
		margin-top: 30vh;
	}

	span {
		margin-top: 5vh;
		font-size: 25px;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
	}

	.leave-queue {
		color: #4e2e2e;
		border-color: #4e2e2e;
		background: unset;
		letter-spacing: 2.5px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #4e2e2e;
		}
	}
	.join-queue {
		color: #2e384e;
		border-color: #2e384e;
		background: unset;
		letter-spacing: 1px;
		border-width: 3px;
		margin-top: 49px;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			color: #FFFF;
			background: #2e384e;
		}
	}
}
