.statPlayerContent {
	width: 100%;
	height: calc(95vh + 8px);

	overflow-y: scroll;
}

.statPlayerContent .userIdentity {
	margin-top: 1%;
	margin-inline: auto;
	width: 98%;
	height: 80%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	flex-direction: row;
}

.statPlayerContent .userIdentity .userPictureNName {
	margin: 1%;

	width: 38%;
	height: 98%;
}

.userPictureNName .userLogin {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 12%;
	margin-left: 5%;

	width: 80%;
	height: 15%;

	background-color: rgba(255, 255, 255, 0.05);
}

.userLogin .userLoginText {
	margin-left: 15%;
}

.userPictureNName .userNickname {
	margin-top: 13%;
	margin-left: 15%;

	display: flex;
	flex-direction: row;
	align-items: center;

	width: 80%;
	height: 15%;

	background-color: rgba(255, 255, 255, 0.05);
}

.userNickname .userNicknameText {
	margin-left: 15%;
}

.userPictureNName .userProfilePictureContainer {
	display: flex;

	justify-content: center;
	align-items: center;


	width: 100%;
	height: 40%;
}

.userProfilePictureContainer img {
	height: 100%;
}

.userIdentity .statUserInfo {
	margin: 1%;
	height: 97%;
	width: 58%;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserRank {
	display: flex;

	margin: 1%;

	width: 98%;
	height: 48%;

}

.statUserRank .statUserImgContainer {

	height: 100%;
	width: 40%;

	display: flex;

	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserImgContainer img {
	/* width: 100%; */
	height: 100%;
}

.statUserRank .statUserRankName {
	margin-left: 1%;
	width: 59%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserRankName .statUserRankNameText {
	margin-top: 15%;
	margin-left: 15%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px;

	height: 20%;
	width: 30%;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserRankName .statUserRankNameTextValue {
	margin-top: 15%;
	margin-left: 25%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px;

	height: 20%;
	width: 70%;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserInfo .statUserInfoContainer {
	display: flex;
	flex-direction: column;
	margin: 1%;

	width: 98%;
	height: 49%;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserInfoContainer .statUserInfoElement {
	margin-top: auto;
	margin-bottom: auto;
	
	display: flex;

	flex-direction: row;
	align-items: center;

	width: 60%;
	height: 20%;

}

.statUserInfoContainer .first {
	margin-left: 5%;
}

.statUserInfoContainer .second {
	margin-left: 20%;
}

.statUserInfoContainer .third {
	margin-left: 35%;
}

.statUserInfoElement .userInfoText {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 50%;

	border-radius: 20px;

	background-color: rgba(255, 255, 255, 0.05);
}

.statUserInfoElement .value {
	margin-left: auto;
	width: 30%;
}

.userProfileMatches {
	margin: 1%;
	width: 98%;
}