.userProfile {
	width: 100%;
	height: 100%;
}

.userProfileInfo {
	margin: 1%;
	
	width: 98%;
	height: 68%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	flex-direction: column;
}

.userProfileInfo .userProfilerankInfo {
	margin: 2.5%;

	width: 95%;
	height: 55%;

	display: flex;
	flex-direction: row;

	background-color: rgba(255, 255, 255, 0.05);
}

.userProfilerankInfo .userProfileImgContainer {
	width: 30%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	justify-content: center;
}

.imgContainer img {
	height: 100%;
}

.rankInfo .rankName {
	margin: 1%;
	width: 66%;
	height: 94%;

	display: flex;
	flex-direction: column;

	background-color: rgba(255, 255, 255, 0.05);
}

.rankName .rankNameText {
	margin: 5%;

	width: 70%;
	height: 30%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	align-items: center;

}

.rank .userInfoContainer {
	margin: 2.5%;
	margin-top: 0;

	width: 95%;
	height: 45%;

	display: flex;

	flex-direction: column;

	background-color: rgba(255, 255, 255, 0.05);
}

.rank .userInfoContainer .userInfo {
	margin-top: 1%;

	width: 60%;
	height: 30%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.userInfoContainer .first {
	margin-left: 5%;
}

.userInfoContainer .second {
	margin-left: 20%;
}

.userInfoContainer .third {
	margin-left: 35%;
}

.userInfo .userInfoText {
	width: fit-content;
	height: fit-content;
}

.userInfo .value {
	margin-left: 5%;
}

.userProfileMatches {
	margin: 1%;
	width: 98%;
}