@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
	background: #302E2D;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: 'Roboto';
	color: #FFFF;
}

.horizontal {
	display: flex;
	flex-direction: column;
}

.vertical {
	height: 93vh;
	margin: 1vh 1vw 1vh 1vw;
	display: flex;
}

main {
	background: #3A3935;
	display: flex;
	width: 70%;
	animation: apparition .8s ease-out;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(200px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.match-history {
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin: 1%;
	width: 50%;
	transition: all 0.5s;
	overflow: hidden;
}

.match-history:hover {
	overflow-y: auto;
}

.match-history::-webkit-scrollbar {
	display: none;
}

.game,
.match-history h3 {
	animation: apparition .8s ease-out;
}

.game {
	margin: .5vw;
	height: 16vh;
}

.game-win {
	background: rgba(182, 230, 189, 1);
}

.game-lose {
	background: rgba(245, 154, 142, 1);
}

.matchPlayers {
	width: 100%;
	height: 80%;
	display: flex;
}

.player {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.player .PlayerNickname,
.player .Score {
	color: black;
}

.player .PlayerNickname {
	margin: auto;
	margin-top: 0;
	font-size: calc(1vh + 1vw);
}

.player .Score {
	margin: auto;
	margin-top: 5%;
	font-size: calc(2vh + 2vw);
}

.matchDate {
	width: 92.5%;
	height: 20%;

	margin-left: 5%;

	display: flex;

	align-items: center;

	color: black;
}

.match-history:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.match-history h3 {
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.stat {
	margin: 1% 1% 1% 0;
	width: 50%;
	max-height: inherit;

}

.rank {
	height: 49.5%;
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin-bottom: 1%;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
}

.rank:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.rank .rankInfo {
	margin: 2.5%;

	width: 95%;
	height: 55%;

	display: flex;
	flex-direction: row;

	background-color: rgba(255, 255, 255, 0.05);
}

.rankInfo .imgContainer {
	margin: 1%;
	
	width: 30%;
	height: 94%;

	background-color: rgba(255, 255, 255, 0.05);
	
	display: flex;
	justify-content: center;
}

.imgContainer img {
	height: 100%;
}

.rankInfo .rankName {
	margin: 1%;
	width: 66%;
	height: 94%;

	display: flex;
	flex-direction: column;

	background-color: rgba(255, 255, 255, 0.05);
}

.rankName .rankNameText {
	margin: 5%;

	width: 70%;
	height: 30%;

	background-color: rgba(255, 255, 255, 0.05);

	display: flex;
	align-items: center;

}

.rank .userInfoContainer {
	margin: 2.5%;
	margin-top: 0;
	
	width: 95%;
	height: 45%;

	display: flex;

	flex-direction: column;

	background-color: rgba(255, 255, 255, 0.05);
}

.rank .userInfoContainer .userInfo {
	margin-top: 1%;

	width: 60%;
	height: 30%;

	background-color: rgba(255, 255, 255, 0.05);
}

.userInfoContainer .first {
	margin-left: 5%;
}

.userInfoContainer .second {
	margin-left: 20%;
}

.userInfoContainer .third {
	margin-left: 35%;
}

.leaderBoard {
	height: 49.5%;
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	transition: all 0.5s;

	overflow: hidden;
	overflow-y: scroll;
}

.leaderBoard:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.infoLeaderBoard {
	background: #302E2D;

	position: sticky;
	top: 0;

	width: 100%;
	height: 10%;

	display: flex;
}

.infoLeaderBoard .infoContent {
	margin-left: 2%;

	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.infoLeaderBoard .little,
.UserLeaderBoard .little {
	width: 10%;
}

.infoLeaderBoard .medium,
.UserLeaderBoard .medium {
	width: 30%;
}

.UserLeaderBoard {
	margin-top: 2%;

	width: 100%;
	height: 20%;

	display: flex;

	background-color: rgb(0, 0, 0, 0.3);
}

.UserLeaderBoard .UserLeaderBoardInfo {
	margin-left: 2%;
	height: 100%;

	display: flex;

	align-items: center;
	justify-content: center;
}

.info {
	background: #3A3935;
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 1%;
	height: inherit;
	animation: apparition2 .8s ease-out;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes apparition2 {
	from {
		opacity: 0;
		transform: translateY(400px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.user-info {
	background: #302E2D;
	height: 13%;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	margin: 1%;
	transition: all 0.5s;
}

.user-info:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.user-info .user-picture {
	height: 100%;
	margin-right: 5%;
}

.user-picture img {
	height: 100%;
}

.user-info .username {
	margin-right: 10%;
}

.friends-info {
	background: #302E2D;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	height: 82%;
	margin: 1%;
	padding: 0;
	transition: all 0.5s;
}

.friends-info button {
	all: unset;
}

.friends-info button:hover {
	cursor: pointer;
}

.friends-info-typo {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 1%;
}

.friends-info-typo .button {
	position: absolute;
	right: 0;
}

.friends-info-typo .bi-person-plus,
.friends-info .bi-search {
	font-size: 2rem;
}

.friends-info-typo .bi-person-plus {
	margin-right: 1vw;
}

.friends-info:hover {
	transition: all 0.5s;
	box-shadow: #901644 2.4px 2.4px 10px;
}

.friends-info h3 {
	letter-spacing: 2px;
	/* display: flex; */
	justify-content: center;
	font-size: 25px;
	text-transform: uppercase;
}

.friends {
	display: flex;
	flex-direction: column;
}

.friends .friend-card {
	background: rgba(144, 22, 68, 0.6);
	margin: 1%;
	height: 4vw;
}

.chat {
	background: red;
	height: 5%;
}