.boardDiv {
	margin-top: calc(50px + 7vh);
}

.pongBoard {
    border: 3px solid;

    height: 222px;
}

@media screen and (min-width: 425px) {
    .pongBoard {
        height: 299px;
    }
}

@media screen and (min-width: 768px) {
    .boardDiv {
        margin-top: calc(83px + 7vh);
    }
    .pongBoard {
        height: 459px;
    }
}

@media screen and (min-width: 1024px) {
    .boardDiv {
        margin-top: calc(85px + 7vh);
    }
    .pongBoard {
        height: 546px;
    }
}

@media screen and (min-width: 1440px) {
    .boardDiv {
        margin-top: calc(95px + 7vh);
    }
    .pongBoard {
        height: 661px;
    }
}

@media screen and (min-width: 2560px) {
    .pongBoard {
        height: 849px;
    }
}