.game-finished {
    background: #FDFEFE;
    padding-bottom: 24px;
    margin: 0 5px;
    margin-top: calc(50px + 17vh);
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    max-width: 463px;
    h1 {
        font-family: 'Roboto';
        font-weight: 800;
        font-size: 37px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
        margin-top: 14px;
    }
    .result {
        margin-top: 12px;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 400;
        display: flex;
        gap: 7px;
        align-items: center;
        span {
            &:nth-child(1), &:nth-child(3) {
                display: flex;
                align-items: center;
                gap: 2px;
                img {
                    --avatar-size: 31px;
                    height: var(--avatar-size);
                    width: var(--avatar-size);
                    border-radius: 50%;
                    position: relative;
                    object-fit: cover;
                    border: 1px solid;
                }
            }
            &:nth-child(2) {
                font-weight: 500;
                font-size: 19px;
            }
        }
    }
    @media screen and (min-width: 375px) {
        h1 {
            font-size: 47px;
        }
        .result {
            font-size: 16px;
            span {
                &:nth-child(1), &:nth-child(3) {
                    img {
                        --avatar-size: 36px;
                    }
                }
                &:nth-child(2) {
                    font-size: 20px;
                    letter-spacing: -1px;
                }
            }
        }
    }
    @media screen and (min-width: 425px) {
        h1 {
            font-size: 52px;
            margin-top: 25px;
        }
        .result {
            font-size: 17px;
            gap: 4px;
            span {
                &:nth-child(1), &:nth-child(3) {
                    img {
                        --avatar-size: 44px;
                    }
                }
                &:nth-child(2) {
                    font-size: 28px;
                    letter-spacing: -2px;
                }
            }
        }
    }
    @media screen and (min-width: 463px) {
        margin: 0 auto;
        margin-top: calc(50px + 17vh);
        .result {
            gap: 6px;
            font-size: 20px;
            span {
                &:nth-child(2) {
                    font-size: 31px;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        margin-top: calc(83px + 17vh);
        padding-bottom: 36px;
    }
}