.addFriendContainer {
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 0.5rem;

    .AutocompleteInput {
        width: 50%;
    }

    .addFriendButton {
        color: #2e384e;
        border-color: #2e384e;
        background: unset;
        font-size: 1.5rem;
        margin-left: 0.5rem;
        // letter-spacing: 2.5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s ease-out;
        border: solid 3px !important;
    }

    .addFriendButton:hover {
        color: #FFFF;
        background: #2e384e;
        border: solid 3px !important;
    }

}