#affBig {
    overflow: scroll;
    height: 85%;
}

#affSmall {
    overflow: scroll;
    height: 79%;
}

.FormControlDialog {
    margin-top: 1rem;
}

.dialogContainerAlwaysOrNot {
    display: flex;
}