.itemListConvers {
    width: 100%;

    .itemConvers {
        padding-left: 0.5rem;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 5px;

        .profile-pic-group{
            --group-pic-size: 51px;
            width: var(--group-pic-size);
            height: var(--group-pic-size);
            display: flex;
            img:first-of-type {
              width: 50%;
              height: 100%;
              border-radius:  100% 0% 0% 100% / 50% 50% 50% 50%;
              border: 0.5px solid #9b9b9b;
              border-right: none;
            }
            img:last-of-type {
              width: 50%;
              height: 100%;
              border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
              border: 0.5px solid #9b9b9b;
              border-left: none;
            }
          }
          
        svg {
            border: 1px solid;
        }

        img, svg {
            --avatar-size: 51px;
            border-radius: 50%;
            width: var(--avatar-size);
            height: var(--avatar-size);
            object-fit: cover;
        }

        p {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    &:hover {
        background: rgba($color: #efefef, $alpha: .5);
        cursor: pointer;
    }

    @media screen and (min-width: 375px) {
        .itemConvers {
            gap: 7px;

            .profile-pic-group {
                --group-pic-size: 59px;
            }
            img, svg {
                --avatar-size: 59px;
            }
        }
    }

    @media screen and (min-width: 425px) {
        .itemConvers {
            gap: 11px;

            .profile-pic-group {
                --group-pic-size: 66px;
            }
            img, svg {
                --avatar-size: 66px;
            }
        }
    }
}


#openSendChatMsg {
    margin-left: 1rem;
}

.itemConvers:hover {
    cursor: pointer;
}

#affConversItemChatBig {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#affConversItemChatSmall {
    overflow: scroll;
    height: 74%;
}