.itemListConvers {
    width: 100%;
    .itemConvers {
        padding-left: 0.5rem;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        img {
            --avatar-size: 51px;
            border-radius: 50%;
            width: var(--avatar-size);
            height: var(--avatar-size);
            object-fit: cover;
        }
        p {
            font-size: 1.5rem;
            margin: 0;
        }
    }
    &:hover {
        background: rgba($color: #efefef, $alpha: .5);
        cursor: pointer;
    }

    @media screen and (min-width: 375px) {
        .itemConvers {
            gap: 7px;
            img {
                --avatar-size: 59px;
            }
        }
    }
    @media screen and (min-width: 425px) {
        .itemConvers {
            gap: 11px;
            img {
                --avatar-size: 66px;
            }
        }
    }
}


#openSendChatMsg {
    margin-left: 1rem;
}

.itemConvers:hover {
    cursor: pointer;
}

#affConversItemChatBig {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#affConversItemChatSmall {
    overflow: scroll;
    height: 77%;
}
