.itemListConvers {
    width: 100%;
}

.itemConvers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    color: black;
    height: 5rem;
    font-size: 2.0rem;

    img {
        margin-right: 1rem;
    }
}

.itemConvers:hover {
    cursor: pointer;
}

#affConversItemChatBig {
    overflow: scroll;
    height: 92%;
}

#affConversItemChatSmall {
    overflow: scroll;
    height: 77%;
}

/* .bi-x-lg {
    background: #454342;
    border: none;
    color: white;
    font-size: 1.5rem;
} */

/* .bi-x-lg:hover {
    background: #454342;
    border: none;
    color: red;
    font-size: 1.5rem;
} */

/* button:hover {
    cursor: pointer;
} */