.invite-pong {
    .select-map {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 25px;
            width: auto;
        }
        
        button {
            all: unset;
            cursor: pointer;
            border: solid 2px #2e384e;
            transition: all .3s ease-out;
            &:first-of-type {
                margin-right: 7px;
            }
            &:last-of-type {
                margin-left: 7px;
            }
            &:hover {
                color: white;
                background: #2e384e;
            }
        }
        .map-carousel {
            .field {
                width: 166px;
                .ia-ping-racket, .ia-pong-racket, .ia-racket, .ia-ball, .expand-ball, .expand-middle, .expand-ping-racket, .expand-pong-racket {
                    animation: none!important;
                }
                .ia-ping-racket, .expand-ping-racket {
                    top: 11%;
                }
                .ia-pong-racket, .expand-pong-racket {
                    top: 36%;
                }
                .ia-ball, .expand-ball {
                    left: 20%;
                    top: 50%;
                }
                .ia-racket {
                    top: 50%;
                }
            }
        }
    }
    @media screen and (min-width: 375px) {
        .select-map {
            .map-carousel {
                .field {
                    width: 219px;
                }
            }
        }
    }
    
    @media screen and (min-width: 425px) {
        .select-map {
            button {
                &:first-of-type {
                    margin-right: 13px;
                }
                &:last-of-type {
                    margin-left: 13px;
                }
            }
            .map-carousel {
                .field {
                    width: 244px;
                    height: 135px;
                    .basic-ping-racket, .basic-pong-racket {
                        --racket-bottom: 70%;
                    }
                    .basic-ball {
                        --bottom: 95%;
                        --left: 7%;
                        --right: 91%;
                    }
                }
            }
        }
    }
}

.ListItemFriendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    .itemFriendList {
        display: flex;
        flex-direction: row;
    
        .inItemFriendList {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-left: 0.25vw;
            margin-right: 0.25vw;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    
        .inItemFriendList img {
            width: auto;
            height: auto;
            border-radius: 50%;
        }
    
        .inItemFriendList_left {
            display: flex;
            align-items: baseline;
            width: 70%;
            align-items: center;
    
            .friend-profile {
                display: flex;
                gap: 5px;
                align-items: center;
                width: 148px;
                .picture-status {
                    position: relative;
                    display:inline-block;
                    .status {
                        position: absolute;
                        --position-status: 38px;
                        left: var(--position-status);
                        top: var(--position-status);
                        border: 2px solid white;
                        border-radius: 50%;
                        background-color: rgb(28, 177, 123);
                        --status-size: 10px;
                        width: var(--status-size);
                        height: var(--status-size);
                    }
                }
                img {
                    --avatar-size: 51px;
                    width: var(--avatar-size);
                    height: var(--avatar-size);
                    border-radius: 50%;
                    object-fit: cover;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        .inItemFriendList_left p {
            font-size: 1.5rem;
            color: #2E384E;
            margin: 0;
        }
    
        .inItemFriendList_right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }
    
        .inItemFriendList_right button {
            font-size: 1.5rem;
            padding-left: 0.9rem;
            color: #34476b;
            background-color: none;
        }
    
        .inItemFriendList_right button:hover {
            font-size: 1.5rem;
            background-color: none;
        }
    
        .itemFriendListStatus {
            display: flex;
            align-items: baseline;
            justify-content: center;    
        }
    
    }
    
    .openChat {
        display: flex;
        flex-direction: row;
        height: 10rem;
        width: auto;
        background-color: red;
    }
    
    #ListItemFriendList {
        height: auto;
        overflow: scroll;
    }

    @media screen and (min-width: 375px) {
        .inItemFriendList{
            .inItemFriendList_left {
                .friend-profile {
                    gap: 7px;
                    width: 170px;
                    .picture-status {
                        .status {
                            --position-status: 44px;
                        }
                    }
                    img {
                        --avatar-size: 59px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 425px) {
        .inItemFriendList {
            .inItemFriendList_left {
                .friend-profile {
                    gap: 11px;
                    width: 183px;
                    .picture-status {
                        .status {
                            --position-status: 50px
                        }
                    }
                    img {
                        --avatar-size: 66px;
                    }
                }
                .itemFriendListStatus {
                    .itemFriendListStatusPoint {
                        --status-size: 13px;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }

            }
        }
    }
}