.ListItemFriendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .itemFriendList {
        display: flex;
        flex-direction: row;
    
        .inItemFriendList {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-left: 0.25vw;
            margin-right: 0.25vw;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    
        .inItemFriendList img {
            width: auto;
            height: auto;
            border-radius: 50%;
        }
    
        .inItemFriendList_left {
            display: flex;
            align-items: baseline;
            width: 70%;
            align-items: center;
    
            .friend-profile {
                display: flex;
                gap: 5px;
                align-items: center;
                width: 148px;
                img {
                    --avatar-size: 51px;
                    width: var(--avatar-size);
                    height: var(--avatar-size);
                    border-radius: 50%;
                    object-fit: cover;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        .inItemFriendList_left p {
            font-size: 1.5rem;
            color: #2E384E;
            margin: 0;
        }
    
        .inItemFriendList_right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
        }
    
        .inItemFriendList_right button {
            font-size: 1.5rem;
            padding-left: 0.9rem;
            color: #34476b;
            background-color: none;
        }
    
        .inItemFriendList_right button:hover {
            font-size: 1.5rem;
            background-color: none;
        }
    
        .itemFriendListStatus {
            display: flex;
            align-items: baseline;
            justify-content: center;
    
            .itemFriendListStatusPoint {
                border-radius: 50%;
                background-color: rgba(28, 177, 123, 1);
                --status-size: 10px;
                width: var(--status-size);
                height: var(--status-size);
            }
    
            p {
                font-size: 1rem;
                margin: 0;
                font-weight: 200;
                padding-left: 0.3rem;
            }
    
        }
    
    }
    
    .openChat {
        display: flex;
        flex-direction: row;
        height: 10rem;
        width: auto;
        background-color: red;
    }
    
    #ListItemFriendList {
        height: auto;
        overflow: scroll;
    }

    @media screen and (min-width: 375px) {
        .inItemFriendList{
            .inItemFriendList_left {
                .friend-profile {
                    gap: 7px;
                    width: 170px;
                    img {
                        --avatar-size: 59px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 425px) {
        .inItemFriendList {
            .inItemFriendList_left {
                .friend-profile {
                    gap: 11px;
                    width: 183px;
                    img {
                        --avatar-size: 66px;
                    }
                }
                .itemFriendListStatus {
                    .itemFriendListStatusPoint {
                        --status-size: 13px;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }

            }
        }
    }
}