#mainInvitationRequest {

    .mainHeaderSide {
        width: 20%;
    }

    h3 {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    #ListItemsInvitationsRequests {
        height: auto;
        overflow: scroll;
    }

    .itemList {
        display: flex;
        flex-direction: row;
        height: 3.5rem;
        width: 100%;
        margin-top: 1vh;
    }

    .inItem {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        background-color: white;
        border-radius: 15px;
    }

    .inItem .bi-x-lg {
        margin-left: 0.5vw;
    }

    .inItem .bi-check-lg {
        font-size: 2.2rem;
    }
}

/* .bi-x-lg {
    font-size: 1.2rem;
}

.bi-x-lg:hover {
    font-size: 1.2rem;
    color: red;
}

.bi-x-lg::before {
    font-size: 1.2rem;
} */