#roomsAff {
    display: block;
    height: 100%;
    width: 100%;
}

#mainAffRoomsBig {
    overflow: scroll;
    height: 91%;
}

#mainAffRoomsSmall {
    overflow: scroll;
    height: 68%;
}

#roomsHeaderRight {
    display: flex;
    justify-content: flex-end;
}

#CreateGroupContainer {
    height: 24%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #34476b;
}

#CreateGroupContainer input {
    height: 2rem;
    width: 15rem;
    border-radius: 15px;
    padding-left: 0.5rem;
}

#CreateGroupContainer button {
    width: auto;
    height: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    color: #34476b;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

#PublicOrPrivateContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#PublicOrPrivateContainer p {
    margin-left: 1rem;
    margin-right: 0;
}