#roomsAff {
    display: block;
    height: 100%;
    width: 100%;
}

#RoomsHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 9%;
    background-color: #302E2D;
}

#RoomsHeader p {
    margin-left: 1rem;
}

#RoomsHeader button {
    font-size: 2rem;
    margin-right: 1rem;
}

#leftDivHeader {
    width: 25%;
}

#mainAffRooms {
    overflow: scroll;
    height: 91%;
}