#roomsConvers {
    display: block;
    height: 100%;
    width: 100%;
}

#affConversBig {
    overflow: scroll;
    height: 85%;
}

#affConversSmall {
    overflow: scroll;
    height: 79%;
}

#RoomsConversHeaderRight {
    display: flex;
    justify-content: flex-end;
}

#RoomsConversHeaderRight .bi-plus-lg {
    margin-left: 1rem;
}