#roomsAff {
    display: block;
    height: 100%;
    width: 100%;
}

#mainAffRoomsBig {
    overflow: scroll;
    height: 91%;
}

#mainAffRoomsSmall {
    overflow: scroll;
    height: 68%;
}

#roomsHeaderRight {
    display: flex;
    justify-content: flex-end;
}

#CreateGroupContainer {
    height: 26%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #34476b;
}

#PasswordOrNotContainerInput {
    height: 2rem;
    width: 15rem;
    border-radius: 15px;
    padding-left: 0.5rem;
}

#CreateGroupContainer button {
    width: auto;
    height: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    color: #34476b;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

#PasswordOrNotContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}

#PrivateOrNotContainer {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}

#PasswordOrNotContainer p {
    width: 5.5vw;
}

#PrivateOrNotContainer p {
    width: 5.5vw;
}

#changePasswordContainer {
    height: 11%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #34476b;
}

#changePasswordContainerFirst {
    display: flex;
    align-items: center;
}

#passwordInput {
    height: 2rem;
    width: 12rem;
    border-radius: 15px;
    padding-left: 0.5rem;
    margin-left: 1.5rem;
}

#changePasswordContainer button {
    width: auto;
    height: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    color: #34476b;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}