#mainAffRoomsLIst {
    height: 91%;
    overflow: scroll;
}

.roomsItemList {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    width: 100%;
    margin-top: 1vh;
}

.roomsInItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #34476b;
    border-radius: 15px;
}

.roomListInItem1 {
    width: 20%;
}

.roomsItemRoomName {
    width: 65%;
}

.roomListInItem2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.roomListInItem2 button {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    color: #34476b;
    border-radius: 10px;
}