@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content {
	color: white;
	background: #2f3b52;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	.css-19kzrtu {
		padding: 0;
	}

	.rankView, .statView {
		padding: 0 18px;
	}

	.rankContent {
		display: flex;
		align-items: center;
		img {
			width: 100px;
		}
		span:first-of-type {
			font-family: 'Robot', sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.statView {
		padding-bottom: 10px;
		p {
			line-height: .2;
		}
	}

	@media screen and (min-width: 425px) {
		.rankContent {
			img {
				width: 188px;
			}
		}
		.statView {
			p {
				line-height: .5;
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		margin-top: 100px;
		.statView {
			p {
				line-height: .6;
			}
		}
		
	}
}