.inviteNameDiv {
    margin: auto;
    display: flex;
    justify-content: center;

    width: 80%;
    height: 20%;

    border: 5px black solid;
    border-radius: 15px;

    background-color: #2d2d2d;
}

.inviteButton {
    margin: auto;
    margin-top: 5%;
    width: 20%;

	padding: 3%;

    border: 2px black solid;
    border-radius: 100px;

	display: flex;
	justify-content: center;

    font-size: smaller;
    cursor: pointer;
}

.inviteButton:hover {
    transition: all 0.25s;
    background-color: aliceblue;
}

.decline {
    background-color: darkred;
}

.accept {
    background-color: darkgreen;
}