@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.not-found{
    .background {
        .ping-bg{
            transform: rotate(329deg);
            animation: glitch-ping .8s linear infinite;
            &:before, &:after{
              content: attr(title);
              position: absolute;
              left: 0;
            }
            &:before{
              animation: glitchTop .8s linear infinite;
              clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
              -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
              animation: glitchBotom 1.2s linear infinite;
              clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
              -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
        }
        
        .pong-bg{
            transform: rotate(126deg);
            animation: glitch-pong 1.4s linear infinite;
            &:before, &:after{
              content: attr(title);
              position: absolute;
              left: 0;
            }
            &:before{
              animation: glitchTop 1.8s linear infinite;
              clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
              -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
              animation: glitchBotom 2.2s linear infinite;
              clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
              -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
        }
        
        .ball-bg{
            animation: glitch 1.2s linear infinite;
            &:before, &:after{
              content: attr(title);
              position: absolute;
              left: 0;
            }
            &:before{
              animation: glitchTop 1.2s linear infinite;
              clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
              -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
              animation: glitchBotom 1.8s linear infinite;
              clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
              -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
        }
    }
    .content {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 135px;
        font-family: 'Fira Mono', monospace;
        letter-spacing: -7px;
        .text{
          animation: glitch 1s linear infinite;
          &:before, &:after{
            content: attr(title);
            position: absolute;
            left: 0;
          }
          &:before{
            animation: glitchTop 1s linear infinite;
            clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
          }
          &:after{
            animation: glitchBotom 1.5s linear infinite;
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
          }
        }
      
        @media screen and (min-width: 768px) {
            font-size: 182px;
        }
      
        @keyframes glitch{
          2%,64%{
            transform: translate(2px,0) skew(0deg);
          }
          4%,60%{
            transform: translate(-2px,0) skew(0deg);
          }
          62%{
            transform: translate(0,0) skew(5deg); 
          }
        }
       
        @keyframes glitch-ping{
          2%,64%{
            transform: translate(2px,0) skew(0deg) rotate(329deg);
          }
          4%,60%{
            transform: translate(-2px,0) skew(0deg) rotate(329deg);
          }
          62%{
            transform: translate(0,0) skew(5deg) rotate(329deg); 
          }
        }
        @keyframes glitch-pong{
          2%,64%{
            transform: translate(2px,0) skew(0deg) rotate(126deg);
          }
          4%,60%{
            transform: translate(-2px,0) skew(0deg) rotate(126deg);
          }
          62%{
            transform: translate(0,0) skew(5deg) rotate(126deg); 
          }
        }
        
        @keyframes glitchTop{
          2%,64%{
            transform: translate(2px,-2px);
          }
          4%,60%{
            transform: translate(-2px,2px);
          }
          62%{
            transform: translate(13px,-1px) skew(-13deg); 
          }
        }
        
        
        @keyframes glitchBotom{
          2%,64%{
            transform: translate(-2px,0);
          }
          4%,60%{
            transform: translate(-2px,0);
          }
          62%{
            transform: translate(-22px,5px) skew(21deg); 
          }
        }
      }

    } 

